
/* ENTETE */
header.masthead {
  background-image: url('../img/alaska3.jpg');
}

/* Formulaire */
form {
  border: 1px solid #17a2b8;
  padding: 50px;
  width: 75%;
}

.alert {
	display: block;
}

.alert p {
	margin: 0px;
}

h2, h3 {
	margin-bottom: 2rem;
}


/* CHAPITRES */
.media img {
	max-width: 400px;
}


/* BUTTON */
.btn {
    font-size: 15px;
    padding: 2px 5px;
}

.card {
    width: 90%;
}