* {
    margin:0;
    padding:0;
  }

header {
    position: relative;
}

body {
  font-size: 16px;
  color: #212529;
  background-color: #fff;
  font-family: 'Lora', 'Times New Roman', serif;
}

main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5;
  margin: 10px 0;
}

a {
  color: #212529;
  text-decoration: none;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
}

a.icon, a:hover.icon {
  text-decoration: none;
}

hr {
  margin: 30px;
}

.center {
  text-align: center;
}

.left {
  float: left!important;
}

.right {
  float: right!important;
}




/* ---------------------- NAV ---------- */

.topnav {
  overflow: hidden;
  background-color: #333;
  text-align: right;
  position: fixed;
  top:0;
  z-index: 1000;
  width: 100%
}

.topnav a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.topnav a.auteur, a.auteur:hover {
  font-size: 15px;
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFF;
  text-decoration: none;
  padding: 19px 19px 19px 35px;
  float: left;
  text-transform: capitalize;
}

.topnav a:hover {
  background-color: #ddd;
  color: #000;
}

.topnav a.active {
  background-color: #0085A1;
  color: #FFF;
}
.topnav a.active:hover {
  background-color: #ddd;
  color: #000;
}

.topnav .hamburger {
  display: none;
}


/* ---------------------- HEADER ---------- */
#header {
  position: relative;
  background-image: url('../img/alaska1.jpg');
  margin-bottom: 25px;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  height: 230px;
  width: 100%;
}

.overlay {
  position: absolute;
  top:0;
  width: 100%;
  height: 230px;
  background-color: #212529;
  opacity: 0.3;
}

.heading {
  position: absolute;
  padding: 100px 0 0 50px;
  color: #FFF;
  z-index: 3;
}

.subheading {
  font-size: 20px;
  color: #FFF;
  z-index: 3;
}

/* ---------------------- CONTAINER ---------- */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.paging {
  display: flex;
  justify-content: flex-end;
}
.paging-center {
  display: flex;
  justify-content: center;
}

  /* ----------  IMAGES ------------ */

.media {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.media img {
  width: 100%;
  margin-bottom: 1rem!important;
}


/* ------------------------FORM ------------- */

  label {
    width: 150px;
    display: block;
    float: left;
  }

  form {
    border: 1px solid #17a2b8;
    padding: 20px;
    padding-bottom: 85px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  .form-group {
      margin-bottom: 1rem;
  }
  .required {
    font-size: 12px;
    color: red;
    vertical-align: top;
  }

  input, textarea {
      width: 90%; 
      padding: 12px 20px;
      margin: 8px 0;
      border: 1px solid #ced4da;
  }

  input[type=file] {
    width: 50%;
  }

  input:invalid, textarea:invalid{
    border: 1px solid #f5c6cb;
  }

  input:valid, textarea:valid {
    border: 1px solid #212529;
  }

  .button, button {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 25px;
    background-color: #0085A1;
    border-color: #0085A1;
    color: white;
    float: right;
  }

  .button:hover, button:hover {
    background-color: #17a2b8;
    color: white;
  }


/* ---------------------- BADGE ---------- */

.badge {
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  border-radius: 0.25rem;
  color: #fff;
}

.badge-info {
    background-color: #17a2b8;
}
.badge-success {
    background-color: #28a745;
}
.badge-danger {
    background-color: #dc3545;
}

/* ---------------------- CARD ---------- */
.card {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
}

/* ---------------------- TABLEAU ---------- */

table {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

thead {
  background-color: rgba(0, 0, 0, 0.1);
}

tr {
  height: 70px;
}

tr:nth-child(even)
{
  background-color: rgba(0, 0, 0, 0.03);
}


/* ---------------------- BOX Messages ---*/
#errorMessage, #successMessage {
  width: 80%;
  padding: 25px;
}

.errorMessage {
  display: block;
  padding: 0 25px;
}

/* ---------------------- ALERT ---------- */
.erreur {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.warning {
  padding: 25px;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}


/* ---------------------- ICON ---------- */
.icon {
  font-size: 16px;
  font-weight: 800;
  padding: 5px 8px;
  display: inline-block;
  color: #fff;
}
.icon-edit {
  background-color: #17a2b8;
}
.icon-edit:hover {
  background-color: #0085A1;
  color: #fff;
}
.icon-del {
  background-color: #dc3545;
}
.icon-del:hover {
  background-color: #C43645;
  color: #fff;
}


/* ---------------------- FOOTER ---------- */

footer {
  padding: 65px 0;
}




/* -- MOBILE  ---------------------------------------------------- */
@media all and (max-width: 767px) {

  /* --------------- NAV ---------- */

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.hamburger {
    float: right;
    display: block;
    padding: 19px 35px;
    background-color: #0085A1;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 19px 35px;
  }

}



/* -- TABLET  ---------------------------------------------------- */
@media all and (min-width: 768px) and (max-width: 979px) {

  body {
    font-size: 18px;
  }

  main {
    max-width: 800px;
  }

  p {
    margin: 20px 0;
  }


/* ------------------ NAV ---------- */
  .topnav a {
    padding: 19px 10px;
  }

/* ---------------------- HEADER ---------- */
  #header {
    margin-bottom: 35px;
    background-image: url('../img/alaska2.jpg');
    height: 450px;
    background-size: contain;
  }

  .overlay {
    height: 450px;
  }

  .heading {
    padding: 150px 0 0 130px;
  }

  .subheading {
  font-size: 35px;
  }

  h1 {
  font-size: 40px;
  }

  /* ----------  IMAGES ------------ */
  .media {
    flex-wrap: nowrap;
  }

  .media img {
    margin-right: 1rem!important;
  }

/* ------------------ FORMULAIRE ---------- */
  form {
    padding: 30px;
    margin-top: 20px;
    padding-bottom: 85px;
  }

  #login_form, #inscription_form, #nxPass_form {
    width: 70%;
  }

  input, textarea {
    width: 70%; 
  }
}

/* ---------------------- CARD ---------- */
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 30px;
}



/* -- ORDI  ---------------------------------------------------- */
@media all and (min-width: 980px) {

  body {
    font-size: 20px;
  }

  main {
    max-width: 1200px;
  }

  p {
    margin: 30px 0;
  }


/* ---------------------- NAV ---------- */
  .topnav a {
    padding: 29px 10px;
    font-size: 17px;
  }

  .topnav a.auteur {
    font-size: 30px;
  }

/* ---------------------- HEADER ---------- */

  #header {
    margin-bottom: 50px;
    background-image: url('../img/alaska3.jpg');
    height: 600px;
    background-size: cover;
  }

  .overlay {
    height: 600px;
  }

  .heading {
    padding: 250px 0 0 250px;
  }

  .subheading {
    font-size: 35px;
  }

  h1 {
    font-size: 50px;
  }

  /* ----------  IMAGES ------------ */
  .media {
    flex-wrap: nowrap;
  }

  .media img {
    width: 300px;
    margin-right: 1rem!important;
  }

  /* ------------------ FORMULAIRE ---------- */
  form {
    padding: 50px;
    padding-bottom: 100px;
    margin-top: 30px;
  }

  input, textarea {
    width: 350px; 
  }

  #login_form, #inscription_form, #nxPass_form, #contact_form, #comment_form {
    width: 50%;
  }

  /* ---------------------- CARD ---------- */
  .card {
    width: 90%;
    margin-top: 50px;
  }

}



